.app-body {
  display: flex;
}

/* Content area */
.app-content {
  flex: 1;
  padding: 30px;
  margin-left: 50px; /* default collapsed sidebar space */
  transition: margin-left 0.2s ease;
}

/* When sidebar is expanded */
.sidebar.expanded ~ .app-content {
  margin-left: 200px;
}