
.account-section {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top:2.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #B7B6B6;
}

.account-header-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.account-header-logo {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.account-title {
  font-family: 'Roboto-Bold', Helvetica;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.account-subtitle {
  font-family: 'Source Sans 3-Regular', sans-serif, Helvetica;
  font-size: 14px;
  color: #555;
  margin: 0.25rem 0 0;
  line-height: 1.3;
}

.account-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; 
}

.account-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px;
  gap: 1rem; 
}

.account-item:last-child {
  border-bottom: none;
}

.account-info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 20px;
}

.account-logo {
  width: 50px; 
  height: 50px; 
  border-radius: 50px; 
  object-fit: cover; 
  flex-shrink: 0; 
}

/* Text wrapper for name and position */
.account-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.accountname {
  font-family: 'Source Sans 3-Regular', sans-serif, Helvetica;
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin: 0;
}

.account-address {
  font-family: 'Source Sans 3-Regular', sans-serif, Helvetica;
  font-size: 12px;
  color: #757575;
  margin: 0;
}

/* Email Column */
.account-email {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  min-width: 180px;
  font-family: 'Source Sans 3-Regular', sans-serif, Helvetica;
  font-size: 14px;
  color: #333;
  text-align: right;
  margin-top: 15px;
}

.no-accounts{
  text-align: center;
  color: #888;
  font-style: italic;
  margin-top: 20px;
}