.sidebar {
  position: fixed;
  top: 70px; /* header height */
  left: 0;
  width: 70px; 
  height: calc(105vh - 64px);
  background-color: #f4f5f7;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  z-index: 900;
  overflow: hidden;
  transition: width 0.2s ease;
}

.sidebar.expanded {
  width: 220px; 
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  margin: 0;
}

.sidebar-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  padding: 0 12px;
  transition: all 0.2s ease;
  text-decoration: none;
  color: #203061;
}

.sidebar-link:hover {
  background-color: #e0e0e0;
}

.sidebar-icon {
  margin-left: 10px;  
  font-size: 24px;
  flex-shrink: 0;
}

.sidebar-text {
  margin-left: 12px;
  font-size: 16px;
  white-space: nowrap;
  transition: opacity 0.2s ease;
}

.sidebar-link.active {
  background-color: #203061; /* Blue background when active */
  color: white;              /* Make text/icon white */
}

.sidebar-link.active .sidebar-icon {
  color: white; /* Icons also turn white when active */
}

.sidebar-link-dropdown-toggle {
  display: flex;
  background-color: #f4f5f7;
  align-items: center;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 60px;
  padding: 0 12px;
  transition: all 0.2s ease;
  text-decoration: none;
  color: #203061;
}

.sidebar-link-dropdown-toggle:hover {
  background-color: #e0e0e0;
}

.dropdown-icon {
  margin-left: auto; /* push to right */
  font-size: 18px;
  transition: transform 0.2s ease;
}

.dropdown-icon.open {
  transform: rotate(180deg); /* rotate when open */
}

/*smaller device*/
@media (max-width: 520px) {
  .sidebar {
    top: 60px; /* header height */
    visibility: hidden;
    left: -300px;
    width: 300px;
    position:fixed;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index:999;
    opacity:0;
    transform: translateX(-100%);
    pointer-events: none;
  }

  .sidebar.expanded{
    visibility: visible;
    left:0;
    opacity:1;
    transform: translateX(0);
    pointer-events: none;
  }
}

/*visibility of sidebar*/
/* === 📱 MOBILE: Drawer Mode === */
 @media (max-width: 768px) { 
  .sidebar {
    display:block;
    left: -100%;
    width: 300px;
    position:fixed;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index:999;
    opacity:0;
    transform: translateX(-100%);
    pointer-events: none;
  }

  .sidebar.expanded{
    visibility: visible;
    left:0;
    opacity:1;
    transform: translateX(0);
    pointer-events: auto;
  }
} 